```{=html}
<ul class="pub-list list">
<% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <span class="listing-title lead"><%= item.title %></span><br />
    <span class="listing-author"><%= item.author %></span><br />
    <span class="listing-publication fst-italic"><%= item.publication %></span>
    <span class="listing-year">(<%= item.year %>)</span><br />
    
    <a href="<%- item.path %>" class="btn btn-primary">
      Details
    </a>

    <% if (item.doi) { %>
    <a href="<%- item.doi %>" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
      DOI
    </a>
    <% } %>
    
    <% if (item.oa) { %>
    <a href="<%- item.oa %>" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-file-pdf"></i> Open Access
    </a>
    <% } %>
    
        
    <% if (item.postprint) { %>
    <a href="<%- item.postprint %>" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-file-font"></i> Postprint
    </a>
    <% } %>
    
    <% if (item.pubmed) { %>
    <a href="<%- item.pubmed %>" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-file-medical"></i> PubMed
    </a>
    <% } %>
    
    <% if (item.preprint) { %>
    <a href="<%- item.preprint %>" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-file-text"></i> Preprint
    </a>
    <% } %>
    
    <% if (item.materials) { %>
    <a href="<%- item.materials %>" class="btn btn-tertiary" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-journal-code"></i> Materials
    </a>
    <% } %>
    
    <% if (item.preregistration) { %>
    <a href="<%- item.preregistration %>" class="btn btn-tertiary" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-journal-bookmark"></i> Preregistration
    </a>
    <% } %>
    
    <% if (item.link) { %>
    <a href="<%- item.link %>" class="btn btn-tertiary" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-globe"></i> Article
    </a>
    <% } %>
  </li>
<% } %>
</ul>
```